
<template name="index">

<style>

.title {
	color: white;
	font-size: 85px;
	font-weight: bold;
	text-align: center;
}

.subtitle {
	color: white;
	font-weight: 100;
	font-size: 25px;
}

li, ul {list-style: none;}


</style>

{{>background}}

<div class="super-centered">
	<h1 class="title">NÔTA</h1>
	<span class="subtitle">Your personal notepad, synced to all your devices, instantly.</span><br><br><br>
	{{#if currentUser}}
		<a href="/login" id="login" class="waves-effect waves-light btn btn">Enter</a>
	{{else}}
		<a href="/login" id="login" class="waves-effect waves-light btn btn">Login / Signup</a>
	{{/if}}
</div>

<div class="container" style="position:fixed; bottom:0; left:0; padding:10px; width: 50px; height:50px; z-index: 1000">
	<a href="#" id="refresh" data-activates="mobile-demo" class="button-collapse" style="color:white;"><i class="small material-icons">loop</i></a>
</div>









</template>