
<template name="quickSettings">

	<div class="dropdown-menu">
		<form autocomplete="off">
		<input id="color1" type="text" placeholder="Background Color" class="form-control" autofocus>
		<input id="color2" type="text" placeholder="Font Color" class="form-control">
		<button class="btn btn-primary col-xs-12 col-sm-12" id="login-buttons-password" type="submit">
			Submit
		</button>
		<a href="/settings" class="pull-right" style="margin-top:10px">Global Settings</a>
		
		</form>
	</div>

</template>